.relation-user-box
  .relation-user-icon-box
    = image_tag user.profile.avatar, class: 'relation-user-icon'
    .relation-min-box
      .relation-accountname-box
        = user.accountname
      .relation-time-box
        create-time
