@import 'reset';
@import 'btn';
@import 'registration';
@import 'profile';
@import 'article';
@import 'grid';

body{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  .container{
    width: 95%;
    margin:0 auto;
  }

}
.hidden{
  display: none;
}
