.top-box{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 32px;
  line-height: 24px;
  font-size: 16px;


  .back-icon-box{
    margin-top: -5px;
  }

  .accountname-box{
    padding-left: 20px;
  }

  .follow-btn-box{
    color: #9E9E9E;
    border:1px solid #9E9E9E;
    padding: 5px;
    border-radius: 8px;
    width: 80px;

    .relation-btn{
      text-align: center;
    }
  }
}


// ------------------
// ユーザーアイコン
// ------------------
.user-icon-box{
  text-align: center;
  margin-bottom: 46px;
  


  .user-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}


// -------------
// ユーザー情報
// -------------

.user-information-box{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .information-box{
    text-align: center;
    .count{
      text-align: center;
    }
    .character{
      color: #9E9E9E;
    }
  }


  .user-followers-box{
    margin: 0 50px;
  }
}
// --------------
// 投稿した画像
// --------------
.user-articles-box2{
  margin-top: 8px;
  display: grid;
  grid-template:
  'img5 img4 img4'
  'img6 img4 img4'
  ;

  .img4{
    grid-area: img4;
  }
  .img5{
    grid-area: img5;
  }
  .img6{
    grid-area: img6;
  }
}